[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
build = "*"
pre-commit = "*"
pprintpp = "*"
pytest = "*"
pytest-xdist = "*"
jsonschema = "*"
pandas = "*"
setuptools-git-versioning = "*"
toml = "*"
types-toml = "*"
types-pyyaml = "*"
pandas-stubs = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
mypy = "*"
pyright = "*"
bokeh = "*"
holoviews = "==1.19.0"
panel = "*"
packaging = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
test_all = "pytest tests  -x"
test_all_verbose = "pytest tests -v -x"
test_all_parallel = "pytest tests -n=auto  -x"
